/*@import '~mdb-ui-kit/css/mdb.min.css';
@import "mdbootstrap/css/mdb.min.css";*/

body {
    background: #eae7dc;
}

/* Navbar*/
.header-nav {
    background: #eae7dc;
}

.header-link li a {
    color: #e98074;
}

.header-link li a .active {
    color: #e85a4f;

}